@model Project.Entities.Concrete.Film

@{
    ViewData["Title"] = "Film Details";
}

<h2>Film Details</h2>

<div>
    <h4>@Model.Title</h4>
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>@Model.Description</dd>
        <dt>Year</dt>
        <dd>@Model.Year</dd>
        <dt>Time</dt>
        <dd>@Model.Time</dd>
        <dt>Rate</dt>
        <dd>@Model.Rate</dd>
        <dt>Director ID</dt>
        <dd>@Model.DirectorId</dd>
        <dt>Director Name</dt>
        <dd>@Model.DirectorName</dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Edit", "Film", new { id = Model.FilmId })" class="btn btn-warning">Edit</a>
    <a href="@Url.Action("Index", "Film")" class="btn btn-primary">Back to List</a>
</p>
