@model Project.Entities.Concrete.Film

@{
    ViewData["Title"] = "Film Details";
}

<h2>Film Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>@Model.Title</dd>
        <dt>Description</dt>
        <dd>@Model.Description</dd>
        <dt>Year</dt>
        <dd>@Model.Year</dd>
        <dt>Time</dt>
        <dd>@Model.Time</dd>
        <dt>Rate</dt>
        <dd>@(Model.Rate==0?"There is no review":Model.Rate)</dd>
        <dt>Director Name</dt>
        <dd>@Model.Director.Name</dd>
    </dl>
</div>

<div>
    @* link will shows reviews 
    <a href="@Url.Action("Update", "Film", new { id = Model.FilmId })" class="btn btn-warning">Reviews not implemented</a>
    *@
    <a href="@Url.Action("Edit", "Film", new { id = Model.FilmId })" class="btn btn-warning">Edit</a>
    <form asp-action="Delete" asp-controller="Film" method="post" class="d-inline">
        <input type="hidden" name="id" value="@Model.FilmId" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="@Url.Action("Index", "Film")" class="btn btn-primary">Back to List</a>
</div>
