@using System;
@model FilmEditViewModel

@{
    ViewData["Title"] = "Edit Film";
}

<h2>Edit Film</h2>

<form asp-action="Edit" asp-asp-controller="Film" method="post">
    <input type="hidden" asp-for="FilmId" />
    <input type="hidden" asp-for="OriginalDirectorId" />
    <input type="hidden" asp-for="OriginalDirectorName" />
    <input type="hidden" name="@nameof(Model.ShowSearchDirector)"
        value="@Model.ShowSearchDirector.ToString().ToLower()" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input type="number" min="1900" max="2100" step="1" value="@(Model.Year==0?"":Model.Year)" asp-for="Year"
            class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label"></label>
        <input type="number" min="0" asp-for="Time" value="@(Model.Time==0?"":Model.Time)" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OriginalDirectorName" class="control-label">Director Name</label>
        <input asp-for="OriginalDirectorName" class="form-control" readonly />
    </div>
    @if (Model.ShowSearchDirector == false)
    {
        <div class="form-group">
            <button type="submit" name="ChangeDirector" value="ChangeDirector" class="btn btn-secondary mt-2">Change
                Director</button>
        </div>
    }
    else
    {
        <div class="form-group">
            <label asp-for="NewDirectorName" class="control-label">New Director Name</label>
            <input asp-for="NewDirectorName" class="form-control" />
            <button type="submit" name="SearchDirector" value="SearchDirector" class="btn btn-secondary mt-2">Search
                Director</button>
        </div>
        @if (Model.Directors != null && Model.Directors.Count > 0)
        {
            <div class="form-group">
                <label asp-for="NewDirectorId" class="control-label">Directors</label>
                <select asp-for="NewDirectorId" class="form-control">
                    <option value="0" disabled selected>-- Select Director --</option>
                    @foreach (var director in Model.Directors)
                    {
                        <option value="@director.DirectorId">@director.Name</option>
                    }
                </select>
            </div>
        }
    }

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-info mt-2">
            @Model.Message
        </div>
    }

    <div class="form-group">
        <input type="submit" name="Save" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <form asp-action="Delete" asp-controller="Film" method="post" class="d-inline">
        <input type="hidden" name="id" value="@Model.FilmId" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="@Url.Action("Index", "Film")" class="btn btn-primary">Back to List</a>
</div>
