@using Project.Entities.Concrete
@model IEnumerable<FilmIndexViewModel>

@{
    ViewData["Title"] = "Films";
}

<h2>Films</h2>

<p>
    <a href="@Url.Action("Add", "Film")" class="btn btn-primary">Add New Film</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Year</th>
            <th>Director Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Description</td>
                <td>@film.Year</td>
                <td>@film.DirectorName</td>
                <td>
                    <a href="@Url.Action("Details", "Film", new { id = film.FilmId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Update", "Film", new { id = film.FilmId })" class="btn btn-warning">Edit</a>
                    <form asp-action="Delete" asp-controller="Film" method="post" class="d-inline">
                        <input type="hidden" name="id" value="@film.FilmId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
