@model UserDetailsViewModel

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Model.Username</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Reviews", "User", new { id = Model.UserId })" class="btn btn-primary">Reviews</a>
    <a href="@Url.Action("WatchList", "User", new { id = Model.UserId })" class="btn btn-primary">Watchlist</a>
    <a href="@Url.Action("WatchedFilms", "User", new { id = Model.UserId })" class="btn btn-primary">Watched Films</a>
</div>
<div>
    <a href="@Url.Action("Edit", "User", new { id = Model.UserId })" class="btn btn-warning">Edit User / Change Password</a>
    <form asp-action="Delete" asp-controller="User" method="post" class="d-inline">
        <input type="hidden" name="id" value="@Model.UserId" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Back to List</a>
</div>
